*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  text-align: center;
  background: rgb(99, 99, 179);
  background: radial-gradient(
    circle,
    rgb(1, 84, 133) 22%,
    rgba(5, 140, 162, 1) 66%
  );
}

.clock {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  border: 5px solid rgb(230, 229, 229);
  box-shadow: 0 0 20px rgb(145, 145, 145);
  position: relative;
  margin: 15vh auto;
}

.hand {
  width: 50%;
  position: absolute;
  transform-origin: 100%;
  top: 50%;
  transform: rotate(90deg);
  transition: transform 0.05s;
  background-color: black;
}

.second-hand {
  background-color: rgb(131, 0, 0);
  height: 1.5px;
  width: 50%;
  position: absolute;
  /* transform-origin: 100%; */
}

.minute-hand {
  height: 4px;
  width: 40%;
  position: absolute;
  border-radius: 4px;
  /* transform-origin: 100%; */
  margin-left: 10%;
}

.hour-hand {
  height: 7.5px;
  border-radius: 5px;
  width: 30%;
  margin-left: 20%;
  position: absolute;
  /* transform-origin: 100%; */
}
